<div class="container-fluid">
    <div class="row no-gutter">
        
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

              
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">NewsApp</h3>
                            <p class="text-muted mb-4">Welcome To Medium, Where Words Matter</p>
                            <form #loginfrom="ngForm" (ngSubmit)="loginUser()">
                                <div class="form-group mb-3">
                                    <input type="email" name="email" placeholder="Enter Your Email Address" class="form-control"  aria-describedby="emailHelp" [(ngModel)]="user.emailId" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" name= "password" placeholder="Enter Your Password"  class="form-control"  [(ngModel)]="user.password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                                <a class="newuser" routerLink ="/signup">Create New Account?</a>
                            </form>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
