
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://bootstrapious.com/i/snippets/sn-page-split/bg.jpg');
  background-size: cover;
  background-position: center center;
}
.newuser{
  text-decoration: none;
  margin-left: 5%;
  color: black;
}
a:hover:not(.active) {color: #ff3c00;}