<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">NewsApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home" name="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favourite" name="favourite">Favourites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recommended" name="recommended">Recommended</a>
        </li>
      </ul>
    </div>
    <div class="nav-logout">
      <img class="userphoto" [src]="url" alt="">
      <a  class="nav-name">{{userid}}</a>
      <a routerLink="/login" class="logout" name="logout">Logout</a>
    </div>
    </div>
</nav>
<div class="cardbody">
<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="card" *ngFor = "let new of news">
    <figure><img class="newspic" [src]="new.urlToImage" class="card-img-top" alt="No Image Available"></figure>
    <div class="card-body">
      <h5 class="card-title">{{new.title}}</h5>
      <p class="card-text" >{{new.description}}</p>
   
    </div>
    <div class="footer">
     <a href={{new.url}} target="_blank"><button type="button" class="btn btn-dark">Read More</button></a>
      
    <button type="button" class="btn btn-success" name="favourite" (click)="addtoList(new.title,new.description,new.url,new.urlToImage)">Favourite</button>
    </div>
  </div>

</div>
</div>
<script src="https://unpkg.com/scrollreveal"></script>