<div class="container-fluid">
  <div class="row no-gutter">
      
      <div class="col-md-6 d-none d-md-flex bg-image"></div>


      
      <div class="col-md-6 bg-light">
          <div class="login d-flex align-items-center py-5">

            
              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <h3 class="display-4">NewsApp</h3>
                          <p class="text-muted mb-4">Welcome To Medium, Where Words Matter</p>
                          <form #loginfrom="ngForm" (ngSubmit)="signUp()">
                              <div class="form-group mb-3">
                                  <input name="name"  type="name" placeholder="Enter Your Name" class="form-control"  aria-describedby="emailHelp" [(ngModel)]="user.username" #name="ngModel" required [class.is-invalid]="name.invalid && name.touched"  autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                              </div>
                              <div class="form-group mb-3">
                                  <input name="mobile" type="number" placeholder="Enter Your Mobile Number"   class="form-control"  [(ngModel)]="user.mobile" #mobile="ngModel" required [class.is-invalid]="mobile.invalid && mobile.touched" class="form-control rounded-pill border-0 shadow-sm px-4">
                              </div>
                              <div class="form-group mb-3">
                                  <input  name="email" type="email" placeholder="Enter Your Email Address" class="form-control"  aria-describedby="emailHelp" [(ngModel)]="user.emailId" #email="ngModel" required [class.is-invalid]="email.invalid && email.touched" class="form-control rounded-pill border-0 shadow-sm px-4">
                              </div>
                              <div class="form-group mb-3">
                                  <input  name="password" type="password" placeholder="Enter Your Password" class="form-control" [(ngModel)]="user.password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" class="form-control rounded-pill border-0 shadow-sm px-4">
                              </div>
                              <div class="form-group mb-3">
                                  <input name="cpassword" type="password" placeholder="Confirm Password" class="form-control"  [(ngModel)]="user.cpassword" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" class="form-control rounded-pill border-0 shadow-sm px-4">
                              </div>
                              <div class="form-group mb-3">
                                  <input type="file" class="form-control rounded-pill shadow-sm" id="inputGroupFile02" (change)="onFileChanged($event)">
                              </div>
                              <div><small class="text-danger" name="message">{{message}}</small></div>
                              <div class="custom-control custom-checkbox mb-3">
                                  <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                  <label for="customCheck1" class="custom-control-label">Remember password</label>
                              </div>
                              <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign Up</button>
                              <a class="newuser" routerLink ="/login">Already Member?</a>
                          </form>
                          
                      </div>
                  </div>
              </div>

          </div>
      </div>

  </div>
</div>
