
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://bootstrapious.com/i/snippets/sn-page-split/bg.jpg');
  background-size: cover;
  background-position: center center;
}
.newuser{
  text-decoration: none;
  margin-left: 5%;
  color: black;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  border-radius: 25px;
  cursor: pointer;
  border: none;
}
a:hover:not(.active) {color: #ff4800;}