.userphoto{
  height: 10%;
  width: 9%;
}
.nav-name{
  margin-left: 2%;
  color: black;
  text-decoration: none;
}
.nav-logout{
  margin-left: 55%;
}
.logout{
  color: black;
  text-decoration: none;
  margin-left: 4%;
}
    .card{
        margin-left: 8px;
        margin-right: 13px;
        width: 16rem;
      
      }
     
      .btn{
        border-radius: 0;
        width: 46%;
      }
      .footer{
        margin-bottom: 4%;
      }
     
      .card-img[_ngcontent-cew-c16], .card-img-top[_ngcontent-cew-c16] {
        width: 90%;
        margin-left: 4%;
        margin-top: 15px;
        height: 155px;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
    }
    .card-text{
        font-size: 10px;
    }
    .btn-danger{
        margin-left: 3%;
       
    }
    .btn-dark{
        margin-left: 2%;
       
    } 
    .cardbody{
        margin-top: 5%;
        margin-left: 5%;
    }
    .card-cat{
        height: 300px;
        margin-top: 5%;
        border-radius: 17px;
    }
    .card-titl{
        text-align: center;
    }
    .image{
      margin-top: 10px;
      margin-left: 60%;
  }
    .pic{
        height: 30px;
        width: 30px;
    }
    .card-img-top {
        margin-top: 2%;
        height: 150px;
    }
  .navbar-nav li a:hover:not(.active) {color: #ff0000;}