.userphoto{
  height: 10%;
  width: 9%;
}
.nav-name{
  margin-left: 2%;
  color: black;
  text-decoration: none;
}
.nav-logout{
  margin-left: 55%;
}
.logout{
  color: black;
  text-decoration: none;
  margin-left: 4%;
}
    .card{
        margin-left: 8px;
        margin-right: 13px;
        width: 16rem;
        
      }
      
      .btn{
        border-radius: 0;
        width: 46%;
      }
      .footer{
        margin-bottom: 4%;
        
      }
      .btn-secondary{
        width: 100%;
        margin-top: -11%;
        background-color: teal;

      }
     
      .card-img[_ngcontent-cew-c16], .card-img-top[_ngcontent-cew-c16] {
        width: 90%;
        margin-left: 4%;
        margin-top: 15px;
        height: 155px;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
    }
    .card-text{
        font-size: 10px;
    }
    .btn-success{
        margin-left: 3%;
        border-radius: 8px;
    }
    .btn-danger{
        margin-left: 2%;
        border-radius: 8px;
    }
    .cardbody{
        margin-top: 5%;
        margin-left: 6%;
    }
    .card-cat{
        height: 300px;
        margin-top: 5%;
        border-radius: 17px;
    }
    .card-titl{
        text-align: center;
    }
    .image{
        margin-top: 10px;
        margin-left: 60%;
    }
    .pic{
        height: 30px;
        width: 30px;
        
    }
   .newspic{
     margin-top: 4%;
     height: 64%;
   }
   .card-title{
     text-align: center;
   }
   p {
    margin-top: 0;
    font-size: 78%;
    text-align: center;
    margin-bottom: 1rem;
}
.navbar-nav li a:hover:not(.active) {color: #ff0000;}

.btn-secondary:hover:not(.active) {color: rgb(255, 255, 255);}

.btn-secondary:hover:not(.active) {background-color: black;}
